In [1]:
import pandas as pd
import gmaps
import gmaps.datasets
# Import the API key.
from config import g_key
import numpy as np
from pathlib import Path

In [2]:
gmaps.configure(api_key=g_key)

In [3]:
# Load the data
file_path = Path('six_countries.csv')

six_countries_df = pd.read_csv(file_path)
six_countries_df.head(6)

,LOAN_NAME,ACTIVITY_NAME,COUNTRY_NAME,TOWN_NAME,DESCRIPTION,LOAN_AMOUNT
0,JANE,Tailoring,Kenya,Nakuru,Jane is a married woman. She has two children....,225.0
1,Arati,Personal Housing Expenses,India,"Phulbani, Odisha",Arati is a 29-year-old woman from a village in...,250.0
2,Tini,Personal Housing Expenses,Indonesia,Lebak,"Good day, lenders! Meet one of KSPPS BMI’s cli...",525.0
3,Jessica,Health,United States,Portsmouth,Over twenty years ago something happened that ...,10000.0
4,Claudia Jimena,Higher education costs,Bolivia,Chuquisaca,Claudia has always dreamed of becoming a profe...,750.0
5,Anna,Farm Supplies,Ukraine,Energodar,Anna is married with a 7-year-old daughter. Sh...,2525.0

In [4]:
#adding latitudes
latitude=['-0.3', '20.47', '-6.65', '43.075556', '-20', '47.498889']

six_countries_df['LATITUDE'] = latitude

In [5]:
#adding longitudes
longitude = ['36.066667', '84.23',  '106.21667', '-70.760556', '-64.416667', '34.655833']

six_countries_df['LONGITUDE'] = longitude

In [6]:
six_countries_df

,LOAN_NAME,ACTIVITY_NAME,COUNTRY_NAME,TOWN_NAME,DESCRIPTION,LOAN_AMOUNT,LATITUDE,LONGITUDE
0,JANE,Tailoring,Kenya,Nakuru,Jane is a married woman. She has two children....,225.0,-0.3,36.066667
1,Arati,Personal Housing Expenses,India,"Phulbani, Odisha",Arati is a 29-year-old woman from a village in...,250.0,20.47,84.23
2,Tini,Personal Housing Expenses,Indonesia,Lebak,"Good day, lenders! Meet one of KSPPS BMI’s cli...",525.0,-6.65,106.21667
3,Jessica,Health,United States,Portsmouth,Over twenty years ago something happened that ...,10000.0,43.075556,-70.760556
4,Claudia Jimena,Higher education costs,Bolivia,Chuquisaca,Claudia has always dreamed of becoming a profe...,750.0,-20,-64.416667
5,Anna,Farm Supplies,Ukraine,Energodar,Anna is married with a 7-year-old daughter. Sh...,2525.0,47.498889,34.655833

In [7]:
six_countries_df['LATITUDE'] = six_countries_df ['LATITUDE'].astype(float)

six_countries_df['LONGITUDE'] = six_countries_df ['LONGITUDE'].astype(float)

In [8]:
#map_countries = pd.DataFrame(six_countries_df, columns=["LOAN_NAME", "ACTIVITY_NAME", "COUNTRY_NAME", "DESCRIPTION"])

In [9]:
#map_countries.head()

In [10]:
six_countries_df.dtypes

LOAN_NAME         object
ACTIVITY_NAME     object
COUNTRY_NAME      object
TOWN_NAME         object
DESCRIPTION       object
LOAN_AMOUNT      float64
LATITUDE         float64
LONGITUDE        float64
dtype: object

In [11]:
#latitude and longitude
#Nakuru = (-0.3, 36.066667)
#Phulbani = (20.47, 84.23)
#Lebak = (-6.65, 106.21667)
#Portsmouth = (43.075556, -70.760556)
#Chuquisaca = (-20, -64.416667)
#Energodar = (47.498889, 34.655833)
#fig = gmaps.figure()
#fig
#########
###richards_bay_citytoport_elizabeth_city = gmaps.directions_layer(richards_bay_city, port_elizabeth_city)
##fig.add_layer(richards_bay_citytoport_elizabeth_city)
##fig

In [12]:
info_box_template = """
<dl>
<dt>Loan Name</dt><dd>{LOAN_NAME}</dd>
<dt>Description</dt><dd>{ACTIVITY_NAME}</dd>
<dt>Country</dt><dd>{COUNTRY_NAME}</dd>
<dt>Loan Amount</dt><dd>{LOAN_AMOUNT}</dd>
</dl>
"""

In [13]:
# Store the DataFrame Row.
Loan_detailed_info = [info_box_template.format(**row) for index, row in six_countries_df.iterrows()]
Loan_detailed_info

['\n<dl>\n<dt>Loan Name</dt><dd>JANE</dd>\n<dt>Description</dt><dd>Tailoring</dd>\n<dt>Country</dt><dd>Kenya</dd>\n<dt>Loan Amount</dt><dd>225.0</dd>\n</dl>\n',
 '\n<dl>\n<dt>Loan Name</dt><dd>Arati</dd>\n<dt>Description</dt><dd>Personal Housing Expenses</dd>\n<dt>Country</dt><dd>India</dd>\n<dt>Loan Amount</dt><dd>250.0</dd>\n</dl>\n',
 '\n<dl>\n<dt>Loan Name</dt><dd>Tini</dd>\n<dt>Description</dt><dd>Personal Housing Expenses</dd>\n<dt>Country</dt><dd>Indonesia</dd>\n<dt>Loan Amount</dt><dd>525.0</dd>\n</dl>\n',
 '\n<dl>\n<dt>Loan Name</dt><dd>Jessica</dd>\n<dt>Description</dt><dd>Health</dd>\n<dt>Country</dt><dd>United States</dd>\n<dt>Loan Amount</dt><dd>10000.0</dd>\n</dl>\n',
 '\n<dl>\n<dt>Loan Name</dt><dd>Claudia Jimena</dd>\n<dt>Description</dt><dd>Higher education costs</dd>\n<dt>Country</dt><dd>Bolivia</dd>\n<dt>Loan Amount</dt><dd>750.0</dd>\n</dl>\n',
 '\n<dl>\n<dt>Loan Name</dt><dd>Anna</dd>\n<dt>Description</dt><dd>Farm Supplies</dd>\n<dt>Country</dt><dd>Ukraine</dd>\n<dt>Loan Amount</dt><dd>2525.0</dd>\n</dl>\n']

In [14]:
locations = six_countries_df[['LATITUDE', 'LONGITUDE']]
Countries = six_countries_df['COUNTRY_NAME']
#Description = six_countries_df['DESCRIPTION']
Activity_name = six_countries_df['ACTIVITY_NAME']
Loan_name = six_countries_df ['LOAN_NAME']
Loan_amount = six_countries_df['LOAN_AMOUNT']
                               
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=Loan_detailed_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))